.fake-scroll {
    position: absolute;
    top: 0;
    width: 1px;
  }
  
  // The container for all images
  .container {
    // 2 columns grid
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10%;
    justify-items: end; // This will align all items (images) to the right
  
    // Fixed positioned, so it won't be affected by default scroll
    // It will be moved using `transform`, to achieve a custom scroll behavior
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  // Styles for image elements
  // Mainly positioning and background styles
  .image {
    position: relative;
    width: 300px;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
  
    // This will align all even images to the left
    // For getting centered positioned images, respect the viewport
    &:nth-child(2n) {
      justify-self: start;
    }
  
    // Set each `background-image` using a SCSS `for` loop
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        background-image: url('https://cdn.jsdelivr.net/gh/lmgonzalves/scroll-based-animation/img/image#{$i}.jpg');
      }
    }
  }
  
  // Adjusting layout for small screens
  @media screen and (max-width: 760px) {
    .container {
      // 1 column grid
      grid-template-columns: 1fr;
      // Fix image centering
      justify-items: center;
    }
  
    // Fix image centering
    .image:nth-child(2n) {
      justify-self: center;
    }
  }
  