#techs {
    display: flex;
    justify-content: center;
    /* align-self: center;    <---- REMOVE */
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #ddd;
    color: white;
}